.gce-events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.gce-events-table th,
.gce-events-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.gce-events-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}


.gce-date-column {
    white-space: nowrap;
    width: 1%;
}

.gce-start-date {
    font-size: 0.9em;
    color: #666;
}

.gce-end-date {
    font-size: 0.9em;
    color: #666;
}

.gce-date-separator {
    height: 1px;
    background-color: #ddd;
    margin: 5px 0;
    width: 100%;
}

/* Color of the each catégorie in the tableau */
.gce-athletisme {
    background-color: #98FB98; /* Vert clair pour l'athlétisme */
}

.gce-agres {
    background-color: #FFD700; /* Jaune pour les agrès */
}

.gce-gd {
    background-color: #bc69ed; /* Jaune pour les agrès */
}

.gce-filters {
    margin-bottom: 20px;
}

.gce-filter-btn {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #333; /* Couleur du texte */
}

#gce-filter-all {
    background-color: #f0f0f0;
}

#gce-filter-athletisme {
    background-color: #98FB98; /* Même vert que .gce-athletisme */
}

#gce-filter-agres {
    background-color: #FFD700; /* Même jaune que .gce-agres */
}

#gce-filter-gd {
    background-color: #bc69ed; /* Même jaune que .gce-gd */
}

#gce-filter-gd.active {
    background-color: #a74ade; /* Même jaune que .gce-gd */
}

.gce-filter-btn.active {
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); /* Légère augmentation de taille */
}

#gce-filter-all.active {
    background-color: #d0d0d0; /* Plus foncé quand actif */
}

#gce-filter-athletisme.active {
    background-color: #7CFC00; /* Vert plus vif quand actif */
}

#gce-filter-agres.active {
    background-color: #FFD100; /* Jaune plus vif quand actif */
}

/* Responsive design pour les petits écrans */
@media screen and (max-width: 600px) {
    .gce-events-table,
    .gce-events-table thead,
    .gce-events-table tbody,
    .gce-events-table th,
    .gce-events-table td,
    .gce-events-table tr {
        display: block;
    }

    .gce-events-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .gce-events-table tr {
        margin-bottom: 10px;
    }

    .gce-events-table td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .gce-events-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }

    .gce-date-column {
        width: auto;
    }
}